<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="center-content">
        <ion-avatar>
          <img src="assets/img/profile.jpg" alt="Profile Image">
        </ion-avatar>
        <ion-label class="ion-text-left">
          <p>Bienvenido {{username}}!</p>
        </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="dark">
        <ion-icon color="light" name="bag-check-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-searchbar disabled="true" placeholder="Disabled"></ion-searchbar>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img class="files" src="assets/img/combo1.png">
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Hamburguesa</ion-card-title>
      <ion-card-subtitle>10000$</ion-card-subtitle>
      <ion-button class="custom-button" expand="full" type="submit">Agregar al carrito</ion-button>
    </ion-card-content>
  </ion-card>
<ion-card>
    <ion-card-header>
      <img class="files" src="assets/img/combo2.png">
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Hamburguesa</ion-card-title>
      <ion-card-subtitle>10000$</ion-card-subtitle>
      <ion-button class="custom-button" expand="full" type="submit">Agregar al carrito</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img class="files" src="assets/img/combo3.png">
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Hamburguesa</ion-card-title>
      <ion-card-subtitle>10000$</ion-card-subtitle>
      <ion-button class="custom-button" expand="full" type="submit">Agregar al carrito</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
  <!-- Repite los demás combos de manera similar -->
