<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Login Form inside a Card -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()">
        <!-- Material Input for Username -->
        <mat-form-field appearance="fill">
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>

        <!-- Material Input for Password -->
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>

        <!-- Material Button for Submit -->
        <button mat-raised-button color="primary" type="submit" expand="full">
          INGRESAR
        </button>
      </form>

      <!-- Reset Password Button -->
      <button mat-button (click)="resetPassword()" color="accent">
        Restablecer Contraseña
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
