ion-content {
    --background: linear-gradient(90deg, rgb(3, 181, 187) 0%, rgb(0, 156, 161) 35%, rgb(3, 127, 131) 100%);
    
    ion-card {
      width: 90%; /* Added to give the card margins */
      margin: 100px auto; /* Centers the card horizontally */
      box-shadow: none;
      border-radius: 14px;
      padding: 14px;
      background: rgba(49, 49, 49, 0.8);
      text-align: center; /* Centers the text inside the card */
      
    }
}
  
.container {
        padding: 6px 20px;
        color: #FFFFFF;
    
        ion-item {
          --background: rgba(133, 3, 3, 0.1);
          padding: 15;
          margin: 14px 14px;
          --border-radius: 14px;
          color: #FFFFFF;
          font-weight: 600;
    
          ion-label {
            padding: 6px 0;
    

          }
    
        }}

        ion-header {

            ion-toolbar, ion-item {
              --background: #000000;
              background: #000000;
              padding: 0 10px;
            }
          
            ion-toolbar {
              .bordered {
                --border-radius: 10px;
              }
            }
        }

        ion-item {
            margin: 10px auto;
            background: rgba(255, 255, 255, 0.2); /* Translucent background for form fields */
            border-radius: 10px;
          }
          
          .custom-button {
            --background: rgb(0, 156, 161);
            --color: white; /* Cambia el color del texto si es necesario */
          }
          